@charset "UTF-8";
@font-face {
  font-family: 'neuropol';
  src: url("../font/NEUROPOL.ttf") format("truetype");
  /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */ }
@font-face {
  font-family: 'OpenSans-Bold';
  src: url("../font/OpenSans-Bold.ttf") format("truetype");
  /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */ }
@font-face {
  font-family: 'OpenSans-BoldItalic';
  src: url("../font/OpenSans-BoldItalic.ttf") format("truetype");
  /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */ }
@font-face {
  font-family: 'OpenSans-ExtraBold';
  src: url("../font/OpenSans-ExtraBold.ttf") format("truetype");
  /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */ }
@font-face {
  font-family: 'OpenSans-ExtraBoldItalic';
  src: url("../font/OpenSans-ExtraBoldItalic.ttf") format("truetype");
  /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */ }
@font-face {
  font-family: 'OpenSans-Italic';
  src: url("../font/OpenSans-Italic.ttf") format("truetype");
  /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */ }
@font-face {
  font-family: 'OpenSans-Light';
  src: url("../font/OpenSans-Light.ttf") format("truetype");
  /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */ }
@font-face {
  font-family: 'OpenSans-LightItalic';
  src: url("../font/OpenSans-LightItalic.ttf") format("truetype");
  /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */ }
@font-face {
  font-family: 'OpenSans-Regular';
  src: url("../font/OpenSans-Regular.ttf") format("truetype");
  /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */ }
@font-face {
  font-family: 'OpenSans-Semibold';
  src: url("../font/OpenSans-Semibold.ttf") format("truetype");
  /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */ }
@font-face {
  font-family: 'OpenSans-SemiboldItalic';
  src: url("../font/OpenSans-SemiboldItalic.ttf") format("truetype");
  /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */ }
.f-light {
  font-family: OpenSans-Light; }

.f-bold, section .advertise-advert-btn {
  font-family: OpenSans-Bold; }

.f-Semibold {
  font-family: OpenSans-Semibold; }

.f-regular {
  font-family: OpenSans-Regular; }

.f-neuropol, header, section .page-title, section .register-text, section .login-text {
  font-family: neuropol; }

.f-italic {
  font-family: OpenSans-Italic; }

.f-light-italic {
  font-family: OpenSans-LightItalic; }

.font-15, footer div.rights, section .about-assist, section .advertise-section .support-text, section .advertise-advert-item .card-text, section .advertise-advert-btn {
  font-size: 15px; }

.font-20 {
  font-size: 20px; }

.font-18 {
  font-size: 18px; }

.font-12 {
  font-size: 12px; }

.bg-white {
  background-color: white; }

.text-label-grey {
  color: #a9b0b7 !important; }

.w-90 {
  width: 90%; }

.w-30 {
  width: 30%; }

.w-70 {
  width: 70%; }

.top-35 {
  top: 35%; }

.top-18 {
  top: 18%; }

.left-0 {
  left: 0; }

.right-0 {
  right: 0; }

.bottom-5 {
  bottom: 5%; }

.w-92 {
  width: 92%; }

.left-35 {
  left: 35%; }

.btn-shadow, section .register {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.rounded-pill-top {
  border-top-left-radius: 4rem;
  border-top-right-radius: 4rem; }
.rounded-pill-bottom {
  border-bottom-left-radius: 4rem;
  border-bottom-right-radius: 4rem; }

input.form-control {
  border: 0;
  border-bottom: none;
  outline: none;
  background: none; }
  input.form-control:focus {
    border: 0;
    border-bottom: none;
    outline: none;
    background: none; }
    input.form-control:focus ~ label {
      color: #9d9d9d;
      transform: translate(-12%, -50%) scale(0.75); }
    input.form-control:focus ~ .bar:before, input.form-control:focus ~ .bar:after {
      width: 50%; }
  input.form-control::placeholder {
    color: black; }

.bar {
  position: absolute;
  left: 0;
  bottom: 0;
  background: black;
  width: 100%;
  height: 1px; }
  .bar:before, .bar:after {
    content: '';
    position: absolute;
    background: black;
    width: 0;
    height: 2px;
    transition: .2s ease; }
  .bar:before {
    left: 50%; }
  .bar:after {
    right: 50%; }

body {
  font: inherit;
  background: black; }

header {
  z-index: 15;
  border-bottom: 3px solid #1EA4F8;
  background-image: linear-gradient(180deg, #505050bd, transparent); }
  header ul {
    background-image: linear-gradient(180deg, #1ea4f885, #1ea4f8e3);
    border-radius: 6px 6px 0 0;
    position: absolute;
    top: 75%;
    right: 11px; }
    header ul li.active {
      background-image: linear-gradient(180deg, #0d0d0d, black); }
    header ul li:first-child.active {
      background-image: linear-gradient(180deg, #0d0d0d, black);
      border-radius: 6px 0 0 0; }
    header ul li:last-child.active {
      background-image: linear-gradient(180deg, #0d0d0d, black);
      border-radius: 0 6px 0 0; }

footer div.rights {
  font-family: OpenSans-Regular;
  color: #423E41;
  background: #181818; }
footer .social-links {
  width: 35%;
  display: flex;
  height: 50%;
  justify-content: space-evenly; }
  footer .social-links img {
    cursor: pointer;
    -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(250, 250, 250, 0.5))); }

section {
  position: relative;
  z-index: 14;
  overflow: hidden;
  border-radius: 0 0 14px 14px;
  border-bottom: 6px solid #1B0052; }
  section > div {
    position: absolute;
    z-index: 1; }
  section .page-title {
    color: #2878b1; }
  section .register {
    width: fit-content;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 75px; }
    section .register-text, section .login-text {
      position: absolute;
      left: 30%;
      color: white;
      font-size: 20px;
      bottom: 40px;
      cursor: pointer;
      text-decoration: none; }
    section .register-gradient {
      position: absolute;
      left: 22%; }
  section .login-text {
    left: 35%;
    top: 27%; }
  section .bg-gradient {
    position: absolute;
    left: 0;
    width: 100%; }
  section .bg-blue {
    background: #2978b178;
    background-image: linear-gradient(180deg, #415c6f, #2b4f699e); }
  section .c-blue {
    color: #194256; }
  section .bg-para-blue {
    background: #507DFE; }
  section .bg-para-dark-blue {
    background: #3F64D3; }
  section .parallelogram {
    transform: skew(-30deg); }
  section .not-parallelogram {
    transform: skew(30deg) !important; }
  section .edit-plan-shadow {
    box-shadow: 2px 4px 4px 2px #888888; }
  section .travel-plan {
    position: absolute;
    top: 3%;
    left: 7%;
    width: 86%; }
    section .travel-plan .checked {
      color: orange; }
    section .travel-plan .description {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden; }
  section .travel-activity {
    border-radius: 5px;
    height: 80px;
    background: #F5F5F5;
    box-shadow: 3px 3px 10px 5px #c1c1c1; }
    section .travel-activity .time {
      z-index: -1;
      top: -25px;
      background: #F5F5F5;
      border-radius: 5px 0 0 0;
      box-shadow: 3px 3px 10px 5px #c1c1c1; }
    section .travel-activity .view {
      right: 0;
      bottom: -25px;
      border-radius: 2px 0 2px 2px;
      box-shadow: 3px 3px 10px 5px #c1c1c1; }
  section .travel-details {
    left: 80px;
    top: 8px; }
  section .bg-register {
    background: #8ec3e878;
    background-image: linear-gradient(180deg, #020e2800, #2a3f4e6e); }
  section .bg-gery {
    background: #d2d4d6 !important; }
  section .about-section {
    width: 36%; }
    section .about-section h3 {
      font-size: 18px; }
  section .about-droid {
    position: absolute;
    right: 0%;
    width: 34%;
    top: 14%; }
  section .about-devices {
    position: absolute;
    left: 35%;
    width: 34%;
    top: 14%; }
  section .media {
    width: 100%; }
    section .media h3 {
      font-size: 18px; }
    section .media .women {
      border: none;
      border-radius: unset;
      background: transparent; }
    section .media-list {
      font-size: 20px;
      border: none;
      border-radius: unset;
      background: transparent; }
      section .media-list-item {
        margin-top: 20px;
        background: white;
        border: 1px solid lightgrey;
        display: flex; }
        section .media-list-item-date {
          font-size: 12px;
          font-family: OpenSans-SemiboldItalic; }
        section .media-list-item-thumbnail {
          width: 160px; }
  section .advertise-section {
    width: 100%; }
    section .advertise-section h3 {
      font-size: 22px; }
  section .advertise-advert {
    position: absolute;
    bottom: 9%;
    margin: 0 10px; }
    section .advertise-advert-item {
      border: none;
      border-radius: unset;
      background: transparent; }
      section .advertise-advert-item .card-title {
        font-size: 18px; }
    section .advertise-advert-btn {
      text-decoration: none;
      border: 1px solid #242424;
      border-radius: 17px;
      padding: 3px 10px;
      color: #50eafd;
      background: #aaaaaa;
      position: absolute;
      bottom: 0;
      left: 34%; }
  section .contact-section {
    width: 100%; }
    section .contact-section h3 {
      font-size: 18px; }
  section .contact-info-icon {
    color: #037efd;
    font-weight: 600;
    font-size: 20px; }
  section .main-section {
    width: 58%;
    right: 0; }
  section .main-side-section {
    width: 42%;
    height: 100%;
    background-image: url("../images/how_it_works/left_background.png"); }
    section .main-side-section h3 {
      font-family: OpenSans-Semibold;
      font-size: 18px;
      margin-top: 10px;
      margin-bottom: 10px; }
    section .main-side-section > p {
      color: white; }
  section .main-offer-header {
    background: url("../images/offer/top.png"); }
  section .main-offer-body {
    position: absolute;
    bottom: 4%;
    left: 2%; }
  section .latest-news {
    background-image: url("../images/latest_news/Layer 12@2x.png");
    width: 100%; }
    section .latest-news p {
      color: white; }

.btn-continue, .btn-submit {
  border: 1px solid #24757f;
  border-radius: 17px;
  padding: 2px 21px;
  background: #24757f;
  font-family: 'OpenSans-Regular';
  font-size: 15px;
  bottom: 0; }

/*# sourceMappingURL=style.css.map */
